@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient {
    animation: gradient 3s ease infinite;
    background-size: 200% 200%;
  }
  
  .animate-blob {
    animation: blob 7s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

html, body, #__next {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  transition: background-color 0.3s, color 0.3s;
}
